rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function validEmail() {
      return request.auth != null && request.auth.token.email.matches('.*@cornell[.]edu');
    }

    match /users/{netid}/{links=**} {
      allow read, write: if validEmail() && netid + "@cornell.edu" == request.auth.token.email;
    }
    match /courses/{course=**} {
      allow read, write: if validEmail();
    }
    match /events/{event=**} {
      allow read, write: if validEmail();
    }
    match /professors/{professor=**} {
      allow read: if validEmail();
    }
  }
}