.app {
  min-height: 100%;
  text-align: center;
  min-width: 300px;
  word-break: break-word;
}
.message {
  margin-left: 5px;
}
.cornell {
  color: #fc0000;
}
.delete-x {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.1s;
}
.delete-x:hover {
  transform: scale(1.3);
}