.professor h1 {
  padding-top: 20px;
}
.professor h2 {
  font-size: 1.4em;
}
.modal-header h3 {
  margin: 0;
}

.professor .courses {
  margin: 10px;
}

.professor .btn {
  margin: 8px;
}

.professor a {
  text-decoration: none;
}
.professor ul {
  padding: 0;
}
.professor li {
  list-style-type: none;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 10px;
  position: relative;
}
.professor li p {
  margin: 0;
}

.form textarea {
  height: 20vh !important;
  resize: none;
}
