.user h1 {
  padding-top: 20px;
  margin-bottom: 0;
}
.user h2 {
  font-size: 1.4em;
}
.user .btn {
  margin: 8px;
}
.user a {
  text-decoration: none;
}
.user ul {
  padding: 0;
}
.user li {
  list-style-type: none;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 10px;
  position: relative;
}
.user li p {
  margin: 0;
}
.user .back-button {
  position: absolute;
  top: 0px;
  left: 0px;
}
.user .signout-button {
  position: absolute;
  top: 0px;
  right: 0px;
}

@media only screen and (max-width: 600px) {
  .user .back-button {
    position: relative;
  }
  .user .signout-button {
    position: relative;
  }
}
